.produtos {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.lanches {
    background-color: aliceblue;
    border: 2px solid black;
    width: 350px;
    text-align: center;
    font-size: 25px;
}

.lanches img {
    width: 340px;
    margin: 5px;
}

.nomeLanche {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin: 5px;
    
}

.lanches p {
    color: black;
    font-size: large;
    
}

.preco {
    color: red;
}
.lanches button {
    background-color: rgb(158, 158, 158);
    color: black;
    width: 160px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}